/* Empty. Add your own CSS if you like */

body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.slider {
    height: 100%;
}

.slider-slide {
    padding-top: 40px;
    padding-bottom: 40px;
    color: #000;
    background-color: #fff;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}
/* AUTOCOMPLETE */

.placeautocomplete {
    width: 100%;
    position: relative;
}

.placeautocomplete input {
    font-size: 1.2em;
    width: 75%;
    padding: 0.4em;
}

.placeautocomplete ul {
    left: 0;
    width: 100%;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
}

.placeautocomplete li {
    text-align: left;
    list-style: none;
    width: 100%;
    padding: 0.4em;
    background-color: #fff;
}

.placeautocomplete li.active {
    width: 100%;
    background-color: #4bf;
}

.placeautocomplete .highlight {
    background-color: #E2E2E2;
}

.placeautocomplete li.active .highlight {
    background: #666;
    color: #fff;
}

.button.button-custom {
    border-color: #c62828;
    background-color: #c62828;
    margin: 1px;
    color: #e6e6e6;
}

.button.button-custom.signal-place {
    border-color: #c62828;
    background-color: #c62828;
    margin: 1px;
    color: #e6e6e6;
}

.button.button-custom.activated {
    border-color: #c62828;
    background-color: #b22424;
    color: #e6e6e6;
}

.button.button-custom:hover {
    border-color: #c62828;
    background-color: #b22424;
    color: #e6e6e6;
}

.custom-icon-menu {
    color: #90a4ae;
}

.menu-entry {
    text-align: left;
}

.menu-entry img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.menu-entry span {
    vertical-align: middle;
}

.menu-entry-disabled {
    text-align: left;
    color: lightgrey;
}

.menu-entry-disabled img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.menu-entry-disabled span {
    vertical-align: middle;
}
/*
.bar.bar-stable {
    background-color: #c62828;
    color: #c62828;
}

.bar.bar-stable .title {
    background-color: #c62828;
    color: #c62828;
}*/

.alignright {
    float: right;
}

.bar.custom-bar {
    border-color: #c62828;
    background-color: #c62828;
    background-image: none;
}

.bar .title {
    color: #fff;
}

.signal-detail-element {
    margin: 10px;
}

.signal-detail-element icon {
    margin: 10px;
}

.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 100px;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}

.transparent {
    background: transparent !important;
}

.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    /*
    margin: auto;
    overflow: auto;
    position: fixed;
*/
    
    right: 0;
    top: 0;
}

.image.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slider {
    width: 100%;
    height: 100%;
}

.tabs-positive > .tabs {
    background-color: #c62828 !important;
}

.tab-item.tab-item-active,
.tab-item.active,
.tab-item.activated {
    background-color: #b22424 !important;
}

.wrapper {
    position: relative;
    display: inline-block;
}

.close:before {
    content: '✕';
    color: white;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}