<ion-view title="{{'map_title' | translate}}">
    <ion-content ng-hide="!showmap">
        <div data-tap-disabled="true">
            <leaflet event-broadcast="events" center="center" markers="myMarkers" style="width: 100%; height: 640px;"></leaflet>
        </div>
    </ion-content>
</ion-view>