<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar custom-bar">
            <ion-nav-back-button>
            </ion-nav-back-button>

            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar custom-bar">
            <h1 class="title" style="color=pink">Menu</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/map">
                    <div class="menu-entry">
                        <img src="img/ic-mappa.png">
                        <span>{{'menu_map' | translate}}</span>
                    </div>
                </ion-item>
                <ion-item nav-clear menu-close ng-click="openSignal()" ng-hide="!userIsLogged">
                    <div class="menu-entry">

                        <img src="img/ic-segnala.png">
                        <span>{{'menu_segnala' | translate}}
                         </span>
                    </div>
                </ion-item>
                <ion-item nav-clear ng-click="openLoginPopUp()" ng-hide="userIsLogged">
                    <div class="menu-entry-disabled">

                        <img src="img/ic-segnala-disabled.png">
                        <span>{{'menu_segnala' | translate}}
                         </span>
                    </div>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/tab">
                    <div class="menu-entry">

                        <img src="img/ic-archivio.png">
                        <span>{{'menu_archivio' | translate}}</span>
                    </div>
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/mysignals" ng-hide="!userIsLogged">
                    <div class="menu-entry">
                        <img src="img/ic-mysignals.png">
                        <span>{{'menu_lemiesegnalazioni' | translate}}</span>
                    </div>
                </ion-item>
                <ion-item nav-clear ng-click="openLoginPopUp()" ng-hide="userIsLogged">
                    <div class="menu-entry-disabled">
                        <img src="img/ic-mysignals-disabled.png">
                        <span>{{'menu_lemiesegnalazioni' | translate}}</span>
                    </div>
                </ion-item>
                <!--
                <ion-item nav-clear menu-close ng-click="openModal(1)">
                    <div class="menu-entry">

                        <img src="img/ic-login.png">
                        <span>{{'menu_login' | translate}}</span>
                    </div>
                </ion-item>
-->
                <ion-item nav-clear menu-close ng-click="logout()" ng-hide="!userIsLogged">
                    <div class="menu-entry">

                        <img src="img/ic-login.png">
                        <span>{{'menu_logout' | translate}}</span>
                    </div>
                </ion-item>
                <ion-item nav-clear menu-close ng-click="login()" ng-hide="userIsLogged">
                    <div class="menu-entry">

                        <img src="img/ic-login.png">
                        <span>{{'menu_login' | translate}}</span>
                    </div>
                </ion-item>
                <ion-item nav-clear menu-close ng-click="openModal(2)">
                    <div class="menu-entry">

                        <img src="img/ic-credits.png">
                        <span>{{'menu_credits' | translate}}</span>
                    </div>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>