<ion-view view-title="{{'segnala_title' | translate}}" data-ng-init="setAutocomplete(params.place)">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-checkmark-round" ng-click="submit()"></button>
    </ion-nav-buttons>
    <ion-content>
        <form novalidate class="simple-form" name="signal_form">
            <div class="list list-inset">

                <div class="item item-input-inset">
                    <label class="item-input">
                        <input ng-model="signal.attribute.title" type="text" placeholder="{{'segnala_input_title' | translate}}">
                    </label>

                </div>

                <div class="item item-input-inset">
                    <label class="item-input">
                        <input ng-model="signal.attribute.description" type="text" placeholder="{{'segnala_input_description' | translate}}">
                    </label>

                </div>


                <div class="item item-input item-button-right">
                    <!--                    <label class="item-input-wrapper">-->
                    <placeautocomplete ng-model="result" attr-placeholder="{{'segnala_input_place_suggestion' | translate}}" click-activation="true" data="places" on-type="doSomething" placeholder="{{'segnala_input_description' | translate}}" style="width: 100%" on-select="changeString"></placeautocomplete>

                    <!--</label>-->
                    <div class="buttons">
                        <button class="button button-custom signal-place {
    position: fixed;" ng-click="locateMe()">
                            <i class="icon ion-android-locate "></i>
                        </button>
                        <button class="button button-custom signal-place {
    position: fixed;" ng-click="openMap4Address()">
                            <i class="icon ion-map"></i>
                        </button>
                    </div>
                </div>



                <label class="item item-input item-select">
                    <div class="input-label">
                        {{'segnala_label_categories' | translate}}
                    </div>

                    <select ng-model="signal.attribute.category" ng-options="cat as cat.label for cat in categories">
                    </select>
                </label>



                <input type="hidden" name="lat" value="{{chosenPlace.geometry.location.lat()}}">
                <input type="hidden" name="long" value="{{chosenPlace.geometry.location.lng()}}">
                <div align="center" style="margin:5px">

                    <button class="button button-custom button-large" ng-click="addImage('Camera')">
                        <i class=" icon ion-android-camera"></i>
                    </button>
                    <button class="button button-custom button-large" ng-click="addImage('Gallery')">
                        <i class=" icon ion-images"></i>
                    </button>
                </div>

                <div class="wrapper" ng-repeat="image in images">
                    <img data-ng-src="{{image}}" width="200px" />
                    <span class="close" ng-click="removeImage(image)"></span>
                </div>
                <!--                    <img ng-repeat="image in images" data-ng-src="{{image}}" ng-click="removeImage(image)" height="200px" />-->


            </div>
        </form>
    </ion-content>
</ion-view>
